<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1> votre nom et votre portable de preferer</h1>
    <form action="/phone" method="post">
    <input type="text" name="name"  placeholder="entrer le nom "id=""><br><br>
    <input type="text" name="phone" placeholder=" le nom du telephone"><br><br>
    <button>envoyer</button>
</form>
</body>
</html>