<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Details</title>
</head>
<body>
    <ul>
 <%for(let phonemodel of phonemodels){%>
<li>   <a href="/phone/<%=phonemodel._id%>/show"> <%= phonemodel.uname %> </a>
      </li>
 <%  } %> 
        <a href="/phone/new"> Ajouter</a>
    </ul>
</body>
</html>